* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: underline;}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
    color: #FFF;
    background-color: #FF6900;
    padding: 15px 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    box-shadow: 0 1px 30px 5px rgb(67, 67, 67);
}

.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-menu {
    width: 20%;
}

.main-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main-menu li {
    width: calc(97% / 3);
}

.main-menu a {
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
}

.header-logo {
    width: 60%;
    display: flex;
    justify-content: center;
}

#main-logo {
    height: 40px;
}

.header-logo a {
    display: inline-block;
    padding: 10px;
}

.header-icon {
    width: 20%;
    text-align: right;
}

.header-icon a {
    color: #FFF;
    padding: 10px;
    margin: 0 5px;
}

main {
    padding-top: 120px;
}

.card-body {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container {
    min-width: 300px;
    width: calc(97% / 3);
    padding-bottom: 40px;
}

.img-container {
    position: relative;
}

.img-item {
    width: 100%;
    display: block;
}

.img-item.img-show2 {
    display: none;
}

.img-container:hover .img-show1 {
    display: none;
}

.img-container:hover .img-show2 {
    display: block;
}

.card-container > a {
    display: block;
    color: #000;
    text-decoration: none;
    background-color: #FFF;
    padding: 5px 10px 0 10px;
}

.tag-container {
    position: absolute;
    bottom: 20px;
}

.tag1, .tag2 {
    color: #FFF;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.tag1 {
    background-color: red;
}

.tag2 {
    background-color: green;
}

.heart-container {
    position: absolute;
    top: 20px;
    right: 0;
}

.heart-button {
    font-size: 20px;
    padding: 10px;
    border: 0;
    background-color: #FFF;
}

.heart-button:hover {
    color: red
}

.price1 {
    color: red;
}

a > span.price2 {
    text-decoration: line-through;
}

footer {
    background-color: #1A1A1A;
    color: #FFF;
    font-size: 12px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    position: relative;
}

.bottom-txt {
    list-style: none;
}

.bottom-txt a {
    color: #FFF;
}

.bottom-txt li {
    float: left;
    margin-right: 10px;
}

.txt-contact {
    position: absolute;
    right: 0;
    top: 20px;
}

.txt-contact h4 {
    text-align: right;
}

.txt-contact p {
    text-align: right;
    font-size: 20px;
}

.txt-contact a {
    color: #FFF;
    margin-left: 10px;
}

.footer-container ul, .footer-container p {
    margin-top: 5px;
}